<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>TimeTable</title>
	
	 <title></title>
     <link rel="stylesheet" href="/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
</head>
<body>
	<div id="overlay"></div>
	<h2>Hi {{Name}}</h2><br>
	<div id='main'>
		<article>

			<!-- / College Timetable -->
			<div class='tab'>
				<table border='0' cellpadding='0' cellspacing='0'>
					<tr class='days'>
						<th></th>
						<th>Monday</th>
						<th>Tuesday</th>
						<th>Wednesday</th>
						<th>Thursday</th>
						<th>Friday</th>
					</tr>
					<tr>
						<td class='time'>9:00</td>
						
						<td id='c1'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c2'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c3'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c4'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>


						
						<td id='c5'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
					</tr>

					<tr>
						<td class='time'>10:00</td>

						<td id='c6'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c7'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c8'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c9'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c10'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
					</tr>


					<tr>
						<td class='time'>11:00</td>

						<td id='c11'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c12'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>				


						<td id='c13'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
						
						<td id='c14'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c15'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
					</tr>

					<tr>
						<td class='time'>12:00</td>

						<td id='c16'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c17'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>


						<td id='c18'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c19'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c20'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
					</tr>

					<tr>
						<td class='time'>1:00</td>
						<td id='c21'></td>
						<td id='c22'></td>
						<td id='c23'></td>
						<td id='c24'></td>
						<td id='c25'>-</td>
					</tr>
					<tr>
						<td class='time'>2:00</td>
						<td id='c26'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c27'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c28'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c29'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c30'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
					</tr>



					<tr>
						<td class='time'>3:00</td>

						<td id="c31">
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c32'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id="c33">
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
						
						<td id='c34'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c35'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
					</tr>


					<tr>
						<td class='time'>4:00</td>
						<td id="c36">
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c37'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id="c38">
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
						
						<td id='c39'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>

						<td id='c40'>
							<p align="center"></p> 
							<div class="button_cont" align="center" style="float: left">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> - </a> -->
								<button class="btns">-</button>
							</div>
  							<div class="button_cont" align="center" style="float: right">
								<!-- <a class="btn" href="add-website-here" target="_blank" rel="nofollow noopener"> + </a> -->
								<button class="btnp">+</button>
							</div>
						</td>
					</tr>
				</table>
			</div>

		</article>



		<nav>
			<ul id="sortable">

					<li class="list-header">
						<h4>{{RollNo}}, Your Attendance</h4>
					</li>

				<li class="list-item" >
			      <label position="c1 c2" d-rec="CC003"for='label-1'>
			        <h2 id="subject1"></h2>
								<span id="sub1">percentage</span></h2>
			      </label>
		    	</li>
					
				<li class="list-item" >
		          <label position="c2" d-rec="CC123" for='label-2'>
			        <h2 id="subject2" ></h2>
								<span id="sub2">percentage</span></h2>
			      </label>
		    	</li>
			
				<li class="list-item" >
			      <label position="c1 c2" d-rec="CC003"for='label-1'>
			        <h2 id="subject3"></h2>
								<span id="sub3">percentage</span></h2>
			      </label>
		    	</li>

		    	<li class="list-item" >
			      <label position="c1 c2" d-rec="CC003"for='label-1'>
			        <h2 id="subject4"></h2>
								<span id="sub4">percentage</span></h2>
			      </label>
		    	</li>

		    	<li class="list-item" >
			      <label position="c1 c2" d-rec="CC003"for='label-1'>
			        <h2 id="subject5"></h2>
								<span id="sub5">percentage</span></h2>
			      </label>
		    	</li>

		  

  			</ul>
		</nav>
		<!-- <aside>aside</aside> -->
	</div>
    <script src="/js/index.js"></script>
</body>
</html>
