
body{
	margin: 0;
	padding: 0;
	background:  #272727;
	font-size: 16px;
	color: #777;
	font-family: sans-serif;
	font-weight: 300;
	background-image: url("../images/bgg.jpg");
	background-size: cover;
	background-position: center;
}
#nameof{
	color:white;
	text-align: center;
	font-size: 42px;
	margin-top: 15px;
}

#login-box
{
	position: relative;
	margin: 5% auto;
	height: 400px;
	width: 600px;
	background:  #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
}

.left-box{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background-image: url("../images/loginkabg2.jpg");
	background-size: cover;
	background-position: center;


}

h1
{
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}

input[type="text"],
input[type="number"],
input[type="password"]
{
	display:  block;
	box-sizing:  border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-family:  sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition:  0.2s ease;

}

input[type="submit"]
{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #272727;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: 0.2s ease;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus
{
	background: #fff;
	color: #272727;
	transition: 0.2s ease;
}



.right-box
{
	position: relative;
	top: -464px;
	left: 643px;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background-image: url(../images/loginkabg.jpg);
	background-size: cover;
	background-position: center;
}

h1
{
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
	color: #272727;
}

/* input[type="number"],
input[type="password"]
{
	display:  block;
	box-sizing:  border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-family:  sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition:  0.2s ease;

}

input[type="login"]
{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #f44336;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: 0.2s ease;
	cursor: pointer;
}

input[type="login"]:hover,
input[type="login"]:focus
{
	background: #ff5722;
	transition: 0.2s ease;
} */











